*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

:root{
    --celeste:#68AEA3;
    --blanco:#fff;
    --azul:#227E97;
    --gris:#465559;
}

svg,path{
    width: 100vw;
}

header{
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}

img{
    border-radius: 100%;
    margin:0vh 7vw 0px 53vw;
    width: 30vw;
    height: 30vw;
    position: absolute;
    z-index: +1;
}

#presentacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contenido{
    margin: 0 45vw 0 0;
    text-align: center;
}

a{
    color: var(--gris);
    font-size: 3vw;
    transition: all 0.5s;
}

a:hover{
    color: var(--celeste);
    transition: all 0.5s;
}

#redes_sociales{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}

main{
    width: 100vw;
    height: 100vh;
    margin-top: 35vh;
}

article{
    text-wrap: pretty;
    padding: 0 15vw 7vh 15vw;
    font-size: 1.4em;
}

ol{
    list-style: yes;
}

body::-webkit-scrollbar{
    width: auto;
}

body::-webkit-scrollbar-thumb{
    width: auto;
    height: 10vh;
    background: var(--azul);
    border-radius: 9px;
}

@media screen and (min-width:0px) and (max-width:450px){
    img{
        width: 48vw;
        height: 48vw;
    }

    header{
        height: 60vh;
    }

    #contenido {
        text-align: right;
        margin: 0px 55vw 0 4vw;
        font-size: 11.5px;
        text-wrap: pretty;
    }

    a{
        font-size: 9vw;
    }

    #redes_sociales {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
    }

    main{
        margin: 0;
    }

    article{
        font-size: 1em;
        padding: 0 7vw 0 7vw;
    }
}

@media screen and (min-width:451px) and (max-width:800){
    header{
        height: 55vh;
    }
}